doctype html
html
  head
    title GPS APP
    block styles
      link(rel='stylesheet', type='text/css', href='/bower_components/bootstrap/dist/css/bootstrap.css' ) 
    block scripts
      script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
  body
    block content
    br
    hr
    footer
        p Copyright &copy; Luis Yepes 2018